body {
  font-family: "Roboto", sans-serif;
  font-family: "Raleway", sans-serif;
  color: #212121;
}
.logostyle {
  text-decoration: none;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: rgba(33, 150, 243, 1);
}
.studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19px;
  letter-spacing: 0.03em;
  color: #000000;
}
.nav {
  font-size: 14px;
  font-family: "Roboto";
  text-decoration: none;
  color: #212121;
}
.nav:hover,
.nav:focus,
.nav:active {
  color: #2196f3;
}
.sitenav {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
}
.contact-links {
  text-decoration: none;
  color: #757575;
}
.contact-links:hover,
.contact-links:focus {
  color: #2196f3;
}
.mainpage1 {
  background-color: #2f303a;
  color: #ffffff;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button1 {
  font-family: "Roboto";
  background-color: #2196f3;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
}
.lorem1 {
  color: #212121;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
}
.lorem2 {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}
.whatwedo {
  color: #212121;
  font-size: 36px;
  font-style: normal;
  line-height: 1.17;
}
.workername {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
}
.position {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}
footer {
  background-color: #2f303a;
}
.studiof {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.address1 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address2 {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.button {
  font-family: inherit;
  color: rgba(33, 33, 33, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
}
.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.portfolio {
  font-family: Roboto;
  color: rgba(33, 33, 33, 1);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}
.portfolio2 {
  color: rgba(117, 117, 117, 1);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
}
