body {
  font-family: "Roboto", sans-serif;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.menu1 {
  font-size: 14px;
  font-family: "Roboto";
  text-decoration: none;
}
.menunav {
  colour: #212121;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
}
.contact-links {
  text-decoration: none;
}
