body {
  font-family: "Roboto", sans-serif;
}
.logostyle {
  text-decoration: none;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.mainpage1 {
  background-color: #2f303a;
}
.button1 {
  background-color: #2196f3;
  color: #ffffff;
}
.studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}
.nav {
  font-size: 14px;
  font-family: "Roboto";
  text-decoration: none;
  color: #000000;
}
.sitenav {
  colour: #212121;
  font-size: 14px;
  font-weight: 500;
}
.contact-links {
  text-decoration: none;
}
